.labels-container {
    position: relative;
    display: flex;
    z-index: 20;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    left: 8em;
    bottom: 4%;
}

.btn-circle {
    margin: 0.1em !important; 
    width: 25px !important;
    height: 25px !important;
    padding: 0px 0px !important;
    border-radius: 20px !important;
    text-align: center !important;
    font-size: 12px !important;
    line-height: 1.42857 !important;
    background-color: coral !important;
    border: coral !important;
}

/* .tooltip {
    visibility: visible;
} */

.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
  }