.ratings-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    width: fit-content;
    align-self: center;
    font-size: 1em;
    margin-left: 0.2rem;
}

.ratings-number {
    font-size: 1em;
    margin-top: 0.4em;
    margin-right: 0.4em;
    color: #ffad62;
    font-weight: 600;
}

.ratings-amount {
    margin-top: 0.5em;
    margin-left: 0.4em;
    font-size: 0.9em;
    color: white;
}

.ratings-stars{
    font-size: 0.9em;
}

.emptyStar{
    height: 1em !important;
    width: 1em !important;
}

.fullStar{
    height: 1em !important;
    width: 1em !important;
}